In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
city_list = pd.read_csv("city_list.csv")
global_data = pd.read_csv("global_data.csv")
city_data = pd.read_csv("city_data.csv")

In [15]:
print(city_data.head(10))
print("\n")
print(global_data.head(10))
print("\n")
print(city_list.head(10))

   year     city        country  avg_temp
0  1849  Abidjan  Côte D'Ivoire     25.58
1  1850  Abidjan  Côte D'Ivoire     25.52
2  1851  Abidjan  Côte D'Ivoire     25.67
3  1852  Abidjan  Côte D'Ivoire       NaN
4  1853  Abidjan  Côte D'Ivoire       NaN
5  1854  Abidjan  Côte D'Ivoire       NaN
6  1855  Abidjan  Côte D'Ivoire       NaN
7  1856  Abidjan  Côte D'Ivoire     26.28
8  1857  Abidjan  Côte D'Ivoire     25.17
9  1858  Abidjan  Côte D'Ivoire     25.49


   year  avg_temp
0  1750      8.72
1  1751      7.98
2  1752      5.78
3  1753      8.39
4  1754      8.47
5  1755      8.36
6  1756      8.85
7  1757      9.02
8  1758      6.74
9  1759      7.99


          city               country
0      Abidjan         Côte D'Ivoire
1    Abu Dhabi  United Arab Emirates
2        Abuja               Nigeria
3        Accra                 Ghana
4        Adana                Turkey
5     Adelaide             Australia
6         Agra                 India
7    Ahmadabad                 India
8  Albuquerque         United States
9   Alexandria                 Egypt