# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [2]:
# imports and load data
import pandas as pd
df = pd.read_csv("store_data.csv")

In [26]:
# explore data
df['week'] = pd.to_datetime(df['week'])

In [12]:
# total sales for the last month
df.iloc[196:, 1:].sum()

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64

In [27]:
df.mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [15]:
# average sales
df.mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [16]:
# sales on march 13, 2016
df[df['week'] == '2016-03-13']

         week  storeA  storeB  storeC  storeD  storeE
97 2016-03-13    2054    1390    5112    5513    2536

In [21]:
# worst week for store C
df[df['storeC'] == df['storeC'].min()]

        week  storeA  storeB  storeC  storeD  storeE
9 2014-07-06    8567    3228     927    3277     168

In [25]:
# total sales during most recent 3 month period
last_month = df[df['week'] > '2017-12-01']
last_month.sum()

storeA    87591
storeB    79394
storeC    66538
storeD    75190
storeE    27334
dtype: int64