# Filter, Drop Nulls, Dedupe
Use `data_08_v1.csv` and `data_18_v1.csv`. You should've created these data files in the previous section: *Cleaning Column Labels*.

In [1]:
# load datasets
import pandas as pd
df_08 = pd.read_csv("data_08_v1.csv")
df_18 = pd.read_csv("data_18_v1.csv")

In [2]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [3]:
# view dimensions of dataset
df_18.shape

(1611, 14)

In [4]:
df_08['cert_region'].unique()

array(['CA', 'FA', 'FC'], dtype=object)

## Filter by Certification Region

In [5]:
# filter datasets for rows following California standards
df_08 = df_08[df_08['cert_region'] == 'CA']
df_18 = df_18[df_18['cert_region'] == 'CA']

In [6]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [7]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [8]:
# drop certification region columns form both datasets
df_08 = df_08.drop(columns = ['cert_region'])
df_18 = df_18.drop(columns = ['cert_region'])

In [9]:
df_08.shape

(1084, 13)

In [10]:
df_18.shape

(798, 13)

## Drop Rows with Missing Values

In [11]:
# view missing value count for each feature in 2008
df_08.isna().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [12]:
# view missing value count for each feature in 2018
df_18.isna().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [13]:
# drop rows with any null values in both datasets
df_08 = df_08[df_08.isna().sum(axis = 1)== 0]
df_18 = df_18[df_18.isna().sum(axis = 1)== 0]

In [14]:
# checks if any of columns in 2008 have null values - should print False
print(df_08.isnull().sum().any())
print(df_08.shape)

False
(1009, 13)

In [15]:
# checks if any of columns in 2018 have null values - should print False
print(df_18.isnull().sum().any())
print(df_18.shape)

False
(797, 13)

## Dedupe Data

In [16]:
# print number of duplicates in 2008 and 2018 datasets
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

23
3

In [17]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace = True)
df_18.drop_duplicates(inplace = True)

In [18]:
# print number of duplicates again to confirm dedupe - should both be 0
print(df_08.duplicated().sum())
print(df_08.shape)
print(df_18.duplicated().sum())
print(df_18.shape)

0
(986, 13)
0
(794, 13)

In [19]:
# save progress for the next section
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)

In [20]:
print(df_08.shape)
print(df_18.shape)

(986, 13)
(794, 13)