# Fixing `cyl` Data Type
- 2008: extract int from string
- 2018: convert float to int

Load datasets `data_08_v2.csv` and `data_18_v2.csv`. You should've created these data files in the previous section: *Filter, Drop Nulls, Dedupe*.

In [1]:
# load datasets
import pandas as pd

df_08 = pd.read_csv("data_08_v2.csv")
df_18 = pd.read_csv("data_18_v2.csv")

In [2]:
# check value counts for the 2008 cyl column
df_08['cyl'].value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

Read [this](https://stackoverflow.com/questions/35376387/extract-int-from-string-in-pandas) to help you extract ints from strings in Pandas for the next step.

In [3]:
# Extract int from strings in the 2008 cyl column
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype(int)

0       6
1       4
2       6
3       6
4       6
5       6
6       4
7       4
8      12
9      12
10     12
11     12
12      8
13      8
14      4
15      4
16      6
17      4
18      6
19      6
20      6
21      6
22      6
23      6
24      6
25      6
26      8
27      6
28      8
29      8
       ..
956     5
957     5
958     5
959     5
960     5
961     5
962     5
963     5
964     5
965     5
966     5
967     5
968     5
969     5
970     6
971     6
972     6
973     8
974     5
975     5
976     5
977     5
978     5
979     5
980     5
981     6
982     6
983     6
984     6
985     8
Name: cyl, Length: 986, dtype: int64

In [5]:
# Check value counts for 2008 cyl column again to confirm the change
df_08['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

In [ ]:
# convert 2018 cyl column to int
df_18['cyl'] = df_1

In [ ]:
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)